<main id="main">
    <div class="container">

        <div class="wrap-breadcrumb">
            <ul>
                <li class="item-link"><a asp-area="" asp-action="Index" asp-controller="Home" class="link">Home</a></li>
                <li class="item-link"><span>PRIVACY POLICY</span></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-8 col-xs-12 main-content-area">
                <p>This Privacy Policy outlines SHIVYSHINE E-Retail Private Limited ’s approach to Data Protection and
                    Privacy to fulfil its obligations under the applicable laws and regulations . This Privacy Policy
                    applies to your Personal Data which is processed by us, whether in physical or electronic mode.</p>
                <p>In this Privacy Policy, the expressions ‘Personal Data’, ‘Data Subject’, ‘Controller’, ‘Processor’
                    and ‘Processing’ shall have the meanings given to them in the applicable privacy laws </p>
                <p>We are committed to treating data privacy seriously. It is important that you know exactly what we do
                    with your Personal Data</p>
                <p>Throughout this document, “we”, “us”, “our”, “ours” refer to SHIVYSHINE E-RETAIL PRIVATE LIMITED .
                    Wherever we have said ‘you’ or ‘your’, this means YOU</p>
                <h4>WHO WE ARE</h4>
                <p>SHIVYSHINE E-RETAIL PRIVATE LIMITED is a company incorporated and registered under the provisions of
                    the Companies Act, 2013 and having its registered office at 104, Vasan Udyog Bhavan, Sun Mill
                    Compound, Lower Parel, Mumbai 400 013. SHIVYSHINE E-Retail Private Limited is engaged in the
                    business of facilitating selling, marketing and retailing cosmetic and beauty products (“Business”)
                    through the e-commerce websites and mobile applications (“App”) both developed and owned by
                    SHIVYSHINE E-Retail Private Limited and/or its parent company, and/or its affiliates (Website and
                    App collectively referred to as “Platform”) or offline stores / events to conduct its Business.</p>
                <h4>ROLES WE PLAY</h4>
                <p>We play the role of a Data Controller when we collect and process Personal Data about you.</p>
                <p>We play the role of a Data Processor when we collect and process Personal Data on behalf of another
                    Data Controller</p>
                <h4>OUR COMMITMENT</h4>
                <p>We commit to protecting your privacy and hence our Personal Data handling practices are continually
                    reviewed to ensure compliance with the applicable Privacy laws and regulations</p>
                <h4>PERSONAL INFORMATION GATHERED BY SHIVYSHINE</h4>
                <p>The information we learn and gather from you, personal or otherwise, is used to register you, verify
                    your identity to permit you to use the app, undertake transactions (including to facilitate and
                    process payments), communicate with you,convey any promotional offers, services or updates
                    associated with SHIVYSHINE, and generally maintain your accounts with us. We also use this
                    information to customize your experience and improve SHIVYSHINE.</p>
                <h4>INFORMATION YOU GIVE US:</h4>
                <p>We receive and store any information you provide while using SHIVYSHINE, or give us in any other way.
                    You can choose not to provide certain information, but then you might not be able to use SHIVYSHINE.
                    We use the information that you provide for such purposes as opening your account, processing your
                    transactions, responding to your requests, and communicating with you</p>
                <h4>INFORMATION WE COLLECT ABOUT YOU:</h4>
                <p>We receive and store certain types of information whenever you interact with us. For example, like
                    many websites, we use "cookies," and we obtain certain types of information when your web browser
                    accesses our Services. We may also receive/store information about your location and your mobile
                    device, including a unique identifier for your device. We may use this information for internal
                    analysis and to provide you with location-based services, such as advertising, search results, and
                    other personalized content.</p>
                <h4>INFORMATION FROM OTHER SOURCES:</h4>
                <p>We might receive information about you from other sources, such as updated delivery and address
                    information from our carriers, which we use to correct our records and deliver your next purchase
                    more easily.</p>
                <h4>CATEGORIES OF PERSONAL DATA</h4>
                <p>Categories of Personal Data collected and processed by us are as follows</p>
                <h4>Demographic & Identity data</h4>
                <ul>
                    <li> Contact details such as Name, email address, contact number, shipping address, country, date of
                        birth, profile picture</li>
                    <li> Open data and public records such as information about YOU that is openly available on the
                        internet</li>
                    <li> Details such as Transaction amount, Bank Name, Card Type, Card number.</li>
                </ul>
                <h4>Online Identifiers and other Technical Data</h4>
                <ul>
                    <li> Location details such as data we get about your location, IP address, logs, or from where you
                        connect a computer to the internet</li>
                    <li> Technical details such as device information, location and network carrier when you use our
                        mobile applications</li>
                    <li>Communications details such as the Metadata and other Personal Data we get from communications
                        done through e-mails, SMS, instant messages and calls</li>
                    <li>Usage data details such as data about how you use our website or web-based properties, pages
                        viewed, etc</li>
                </ul>
                <h4>CONSENT</h4>
                <p>By using the Website and/ or by providing your information, you consent to the collection and use of
                    the information you disclose on the Website in accordance with this Privacy Policy, including but
                    not limited to your consent for sharing your information as per this privacy policy.</p>
                <h4>PURPOSES OF GATHERING YOUR PERSONAL DATA</h4>
                <p>We use your personal information to operate, provide, develop, and improve the products and services.
                    These purposes include:</p>
                <h4>PURCHASE AND DELIVERY OF PRODUCTS AND SERVICES</h4>
                <p>We use your personal information to take and handle orders, deliver products and services, process
                    payments, and communicate with you about orders, products and services, and promotional offers.</p>
                <h4>PROVIDE, TROUBLESHOOT, AND IMPROVE SHIVYSHINE</h4>
                <p>We use your personal information to provide functionality, analyze performance, fix errors, and
                    improve the usability and effectiveness of the SHIVYSHINE</p>
                <h4>RECOMMENDATIONS AND PERSONALIZATION</h4>
                <p>We use your personal information to recommend features, products, and services that might be of
                    interest to you, identify your preferences, and personalize your experience with SHIVYSHINE</p>
                <h4>COMMUNICATE WITH YOU</h4>
                <p>We use your personal information to communicate with you in relation to SHIVYSHINE via different
                    channels (e.g., by phone, e-mail, chat).</p>
                <h4>ADVERTISING</h4>
                <p>We use your personal information to display interest-based ads for features, products, and services
                    that might be of interest to you.</p>
                <h4>LAWFUL BASES OF PROCESSING YOUR PERSONAL DATA</h4>
                <p>We are permitted to process your Personal Data in compliance with applicable laws and regulations by
                    relying on one or more of the following lawful bases</p>
                <ul>
                    <li> You have explicitly agreed to us processing your Personal Data for a specific reason</li>
                    <li> The processing is necessary to perform the agreement we have with you or to take steps to enter
                        into an agreement with you</li>
                    <li>The processing is necessary to be in compliance with our Legal Obligations</li>
                    <li> The processing is necessary for the purposes of a legitimate interest (“Legitimate Interest”)
                        pursued by us, such as</li>
                    <li> to provide services to you,</li>
                    <li> to evaluate, develop or improve our products and services</li>
                </ul>
                <p>Where the processing is based on your consent, you have a right to withdraw your consent at any time.
                    You may withdraw consent by contacting us. Upon receipt of your written request to withdraw your
                    consent, consequences of withdrawal will be communicated to you and, upon your agreement, your
                    request for withdrawal will be processed.</p>
                <h4>COOKIES AND OTHER TRACKERS USED BY OUR DIGITAL PROPERTIES</h4>
                <p>Cookies are small text files that are placed on your computer by websites that you visit. Similarly,
                    there are other types of trackers used. Likewise, Mobile Apps use requisite permissions and SDKs.
                    These are used to make Websites & Apps work, or work more efficiently, as well as to provide
                    information to the owners of the website/ App</p>
                <p>We use cookies, permissions and other trackers in our website, web-based properties and mobile
                    applications that are used to collect and process data about you so we can provide you a better
                    online experience as well as improve our services</p>
                <p>Below are the categories of cookies used on our website along with a description of what they are
                    used for</p>
                <h4>Strictly Necessary</h4>
                <p>These cookies are needed to run our website, to keep it secure if you are logged on and to obey
                    regulations that apply to us</p>
                <p>If you are a customer, they help us know who you are so that you can log on and manage your accounts.
                    They also help us keep your details safe and private</p>
                <h4>Functional</h4>
                <p>These cookies are used for remembering things like</p>
                <ul>
                    <li> Your user ID on the log on page</li>
                    <li> Your region or country</li>
                    <li> Your preferred language</li>
                    <li> Accessibility options like large font or high contrast pages</li>
                </ul>
                <h4>Performance</h4>
                <p>These cookies tell us how you and our other customers use our website. We combine all this data
                    together and study it. This helps us to:</p>
                <ul>
                    <li> Improve the performance of our services</li>
                    <li> Improve the products we provide</li>
                </ul>
                <p>Most web browsers allow some control of most cookies through the browser settings. Please note
                    disabling the ‘Strictly Necessary’ cookies may cause certain parts of our website to remain
                    inaccessible to you</p>
                <p>We use other tracking mechanisms in addition to the above</p>
                <ul>
                    <li> Pixel Tags</li>
                    <li> Log Files</li>
                    <li> Clickstream analytics</li>
                </ul>
                <h4>DO NOT TRACK</h4>
                <p>Some web browsers have a “Do Not Track” feature. This feature lets you tell websites you visit that
                    you do not want to have your online activity tracked. These features are not yet uniform across
                    browsers. Our sites are not currently set up to respond to those signals</p>
                <h4>PERSONAL DATA DISCLOSURE</h4>
                <p>SHIVYSHINE app contains third party SDKs that collect personally identifiable information (PII). They
                    use this information to better target users or provide elements of our products & services on behalf
                    of us.These third party sites have separate and independent privacy policies</p>
                <h4>SHIVYSHINE USES THREE TYPES OF SDKS </h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">SDKs</th>
                            <th scope="col">Purpose</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Analytics</th>
                            <td>• Analyze in-depth detail about the visitors on our app<br>
                                • Settle errors <br>
                                • Better target users and <br>
                                • Provide push notifications and digital ads to the users
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Payment</th>
                            <td> Complete customers’ payment transaction Example – ICICI Bank</td>
                        </tr>
                        <tr>
                            <th scope="row">Login</th>
                            <td>• Help users login at SHIVYSHINE Example - Google, Facebook.</td>
                        </tr>
                    </tbody>
                </table>
                <p>We have appropriate contracts in place with our third-party partners. This means that they cannot do
                    anything with your Personal Data which is outside of the scope permitted by us. They hold it
                    securely and retain it only for the period specified in our contracts with them</p>
                <p>We might also disclose your Personal Data to appropriate authorities if we believe that it is
                    reasonably necessary to comply with a law, regulation, legal process, to protect the safety of any
                    person, to address fraud, security, or technical issues, or to protect our rights or the rights of
                    those who use our products & services</p>
                <h4>Reasons for disclosing your Personal Data to other parties:</h4>
                <p>We may disclose your Personal Data to others where it is lawful to do so including where we or they
                </p>
                <p>We may disclose your Personal Data to others where it is lawful to do so including where we or they:
                </p>
                <ul>
                    <li> need to provide you with products or services</li>
                    <li> where you have initiated a payment</li>
                    <li> have a legal obligation to do so, e.g. to assist with detecting and preventing fraud,</li>
                    <li> have requirement in connection with regulatory reporting, litigation or asserting or defending
                        legal rights and interests</li>
                    <li> have a legitimate business reason for doing so</li>
                    <li> want to send you information and promotional material regarding our products and services,</li>
                    <li> have asked you for your consent to share it, and you’ve agreed</li>
                    <li> Improve your online experience for using our product.</li>
                </ul>
                <h4>To whom your Personal Data may be disclosed:</h4>
                <p>We may disclose your Personal Data for the above purposes to other parties including:</p>
                <ul>
                    <li> Other group companies and any subcontractors, agents or service providers who work for us or
                        provide services to us or group companies (including their employees, sub-contractors, service
                        providers, directors and officers)</li>
                    <li> Law Enforcement Authorities, Government Authorities, courts, dispute resolution bodies, our
                        regulators, auditors and any party appointed or requested by our regulators to carry out
                        investigations or audits of our activities</li>
                    <li> Statutory and regulatory bodies and authorities (including the government) investigating
                        agencies and entities or persons, to whom or before whom it is mandatory to disclose the
                        Personal Data as per the applicable law, courts, judicial and quasi-judicial authorities and
                        tribunals, arbitrators and arbitration tribunals</li>
                    <li> Overseas regulators</li>
                    <li> Anybody else that we’ve been instructed to share your Personal Data with by you</li>
                </ul>
                <h4>CROSS-BORDER DATA TRANSFER</h4>
                <p>Personal Data we hold about you may be transferred to other countries outside your residential
                    country for any of the purposes described in this Privacy Policy.</p>
                <p>You understand and accept that these countries may have differing (and potentially less stringent)
                    laws relating to the degree of confidentiality afforded to the information it holds and that such
                    information can become subject to the laws and disclosure requirements of such countries, including
                    disclosure to governmental bodies, regulatory agencies and private persons, as a result of
                    applicable governmental or regulatory inquiry, court order or other similar process. In addition, a
                    number of countries have agreements with other countries providing for exchange of information for
                    law enforcement, tax and other purposes</p>
                <p>If we transfer your Personal Data to third parties for purposes stated in this Privacy Policy, we
                    will use best endeavors to put in place appropriate controls and safeguards to ensure that your
                    Personal Data is kept accurate, adequately protected, and processed only for specified and
                    reasonable purposes in a manner that is fair, transparent and has a lawful basis, and is stored for
                    no longer than is absolutely necessary.</p>
                <h4>DATA SECURITY</h4>
                <p>We are committed to protecting your Personal Data in our custody. We take reasonable steps to ensure
                    appropriate physical, technical and managerial safeguards are in place to protect your Personal Data
                    from unauthorized access, alteration, transmission and deletion. We work to protect the security of
                    your personal information during transmission by using encryption protocols. We use multi-layered
                    controls to help protect our infrastructure, constantly monitoring and improving our applications,
                    systems, and processes to meet the growing demands and challenges of security.We ensure that the
                    third parties who provide services to us under appropriate contracts, take appropriate security
                    measures to protect your Personal Data in line with our policies</p>
                <h4>RETENTION AND DISPOSAL OF DATA</h4>
                <p>We keep the Personal Data we collect about you on our systems or with third parties for as long as it
                    is required for the purposes set out in this Privacy Policy and for legal or regulatory reasons. We
                    will only use your Personal Data for those purposes and will make sure that your Privacy is
                    protected. We shall take reasonable steps to delete or permanently de-identify Personal Data that is
                    no longer needed</p>
                <h4>LINKS TO OTHER WEBSITES</h4>
                <p>Our website may contain links to websites of other organisations. This privacy policy does not cover
                    how that organisation processes Personal Data. We encourage you to read the privacy policies on the
                    other websites you visit.</p>
                <h4>CHILDREN’S PRIVACY</h4>
                <p>Our website is directed to be used by adults only. If you are not an adult, while you may look at our
                    site, you should not make a purchase, register, or submit Personal Data to us. We or our associates
                    /affiliates do not knowingly collect information from minors</p>
                <h4>YOUR RIGHTS AS A CUSTOMER</h4>
                <p>We understand that when you interact with SHIVYSHINE, you have rights over your Personal Data. These
                    rights involve providing reasonable steps to allow you to access your personal data, correct any
                    errors among others. In the event that you are not satisfied with our response or have unresolved
                    concerns, you can get in touch with us to resolve the issue by means of privacy@SHIVYSHINE.com</p>
                <h4>CONTACT US</h4>
                <p>For any further queries and complaints related to privacy under applicable laws and regulations, you
                    could reach us at:</p>
                <p>Contact Email Address:<a href="">support@SHIVYSHINE.com</a> .</p>
                <p>IN ACCORDANCE WITH INFORMATION TECHNOLOGY ACT 2000 AND RULES MADE THERE UNDER, THE NAME AND CONTACT
                    DETAILS OF THE GRIEVANCE OFFICER ARE PROVIDED BELOW</p>
                <p>GRIEVANCE OFFICER - CUSTOMER SERVICES</p>
                <p>Name : Mr. …….</p>
                <p>Email : grievanceofficercs@SHIVYSHINE.com</p>
                <h4>NOTIFICATION OF CHANGES</h4>
                <p>We keep our Privacy Policy under regular review to make sure it is up to date and accurate. Any
                    changes we may make to this Privacy Policy in the future will be posted on this page. We recommend
                    that you re-visit this page regularly to check for any updates.</p>


            </div>
        </div>

    </div>

</main>
