<main id="main">
    <div class="container">

        <div class="wrap-breadcrumb">
            <ul>
                <li class="item-link"><a asp-area="" asp-action="Index" asp-controller="Home" class="link">Home</a></li>
                <li class="item-link"><span>SHIPPING POLICY</span></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-8 col-xs-12 main-content-area">
                <h4>How does the delivery process work?</h4>
                <ul>
                    <li> Once our system processes your order, your products are inspected thoroughly to ensure they are
                        in a perfect condition</li>
                    <li> After they pass through the final round of quality check, they are packed and handed over to
                        our trusted delivery partner.</li>
                    <li> Our delivery partners then bring the package to you at the earliest possiblity. In case, they
                        are unable to reach your provided address or at a suitable time, they will contact you to
                        resolve the issue</li>
                    <li> International Shipping – International clients do not pay import duties levied by their
                        government to Shivyshine. Clients will have to pay the customs duty to the courier provider in
                        order to receive the product.</li>
                </ul>
                <h4>How are items packaged?</h4>
                <p>We package our products in boxes, which are covered in a plastic layer. Each individual product is
                    packaged in bubble wrap while fragile items like bottles are safely secured with additional bubble
                    wrap</p>
                <p>We pride ourselves on the quality of our packaging.</p>
                <h4>What is the range of locations to which Shivyshine ships their products?</h4>
                <p>Shivyshine ships throughout India! Shivyshine now ships to Nepal; login soon to our website as we add
                    more countries to our shipping locations</p>
                <h4>My order has been shipped. Now how can I track it?</h4>
                <ul>
                    <li> Once your order has been dispatched, you will receive an email with the details of the tracking
                        number and the courier company that is processing your order.</li>
                    <li> You can track the status of your package 24 hours after your order is dispatched from our
                        warehouse</li>
                    <li> Following are some our trusted courier partners: Picker - http://www.picker.com/
                    </li>
                </ul>
                <h4>What is the estimated delivery time?</h4>
                <p>We usually dispatch most orders within 1-4 business days (excluding Sundays and public holidays)</p>
                <ul>
                    <li> Though, we keep 95% of our catalogue in our inventory, certain products need to be sourced
                        directly from the brand itself so that we can live up to our promise of providing fresh,
                        non-expired products</li>
                    <li> While we are trying our best to avoid this situation, these products might delay your order.
                        However, in case of international orders, product delivery may get delayed due to reasons
                        attributable to logistics, public holidays, etc.</li>
                    <li> If you are ordering our products from a Mega Sale event, dispatches may be a bit delayed due to
                        increased volumes. We will target to dispatch all orders within 5 days of order date</li>
                </ul>
                <h4>My order will be shipped in multiple shipments? What does this mean?</h4>
                <p>Don’t worry! This is a completely normal situation. This just means that different parts of your
                    order may have simply been shipped from our different warehouse locations. Rest assured, you will
                    only have to pay the shipping/CoD charge if applicable, on the first package you receive.</p>
                <p>International orders, in most instances, will be shipped in their entirety as one shipment.</p>
                <h4>Are there any shipping charges applicable on my order?</h4>
                <ul>
                    <li>We have standard shipping charges for most addresses </li>
                    <li>India shipping charges - A flat Rs.70 charge is applied to all orders below Rs.500, while there
                        is free shipping for all orders above Rs.500.</li>
                    <li>International shipping charges-A flat rate of all Rs.500 will be charged for all orders below
                        Rs.5000, while there is free shipping for all orders above Rs.5000.</li>
                    <li>We are currently not accepting orders below Rs.500</li>
                </ul>
                <h4>Does Shivyshine ship outside India?</h4>
                <p>At present Shivyshine ships only to Nepal. However, we are working on starting international delivery
                    to many other countries, so stay tuned!</p>

            </div>
        </div>

    </div>

</main>
