<div class="wrap-banner style-twin-default">
    <div class="banner-item">
        <a href="#" class="link-banner banner-effect-3">
            <figure><img src="~/assets/images/cat1.jpg" alt=""></figure>
        </a>
        <p><a href="">Category Name</a></p>
    </div>
    <div class="banner-item">
        <a href="#" class="link-banner banner-effect-3">
            <figure><img src="~/assets/images/cat2.jpg" alt=""></figure>
        </a>
        <p><a href="">Category Name</a></p>
    </div>
    <div class="banner-item">
        <a href="#" class="link-banner banner-effect-3">
            <figure><img src="~/assets/images/cat3.jpg" alt=""></figure>
        </a>
        <p><a href="">Category Name</a></p>
    </div>
    <div class="banner-item">
        <a href="#" class="link-banner banner-effect-3">
            <figure><img src="~/assets/images/cat4.jpg" alt=""></figure>
        </a>
        <p><a href="">Category Name</a></p>
    </div>
    <div class="banner-item">
        <a href="#" class="link-banner banner-effect-3">
            <figure><img src="~/assets/images/cat5.jpg" alt=""></figure>
        </a>
        <p><a href="">Category Name</a></p>
    </div>
    <div class="banner-item">
        <a href="#" class="link-banner banner-effect-3">
            <figure><img src="~/assets/images/cat6.jpg" alt=""></figure>
        </a>
        <p><a href="">Category Name</a></p>
    </div>
    <div class="banner-item">
        <a href="#" class="link-banner banner-effect-3">
            <figure><img src="~/assets/images/cat7.jpg" alt=""></figure>
        </a>
        <p><a href="">Category Name</a></p>
    </div>
    <div class="banner-item">
        <a href="#" class="link-banner banner-effect-3">
            <figure><img src="~/assets/images/cat8.jpg" alt=""></figure>
        </a>
        <p><a href="">Category Name</a></p>
    </div>
</div>