@model IEnumerable<SuperCategory>

@{
    ViewData["Title"] = "Super Category";
}
<div class="wrap-banner style-twin-default">
    @foreach (var item in Model)
    {
        <div class="banner-item">
            <a href="/Product/Search/@item.Id" class="link-banner banner-effect-3">
                <figure><img src="/supercategory/@item.ImageUrl" alt=""></figure>
            </a>            
            <p><a href="/Product/Search/@item.Id">@item.SuperCategoryName</a></p>
        </div>   
    }        
</div>