@using Microsoft.AspNetCore.Identity;

@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "All Role";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a asp-action="Index" asp-controller="Home" >Home</a></li>
                <li class="active">Role Manager</li>
            </ul>
        </div>
    </div>
</div>

<div class="page-container">
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="container">
                <div class="page-content-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light ">
                                <div class="portlet-title">   
                                    <div class="caption font-dark">
                                        <i class="icon-settings font-dark"></i>
                                        
                                    </div>
                                    <div class="actions">
                                        <div class="btn-group btn-group">
                                             <a class="btn btn-primary" style="with:auto" asp-controller="RoleManager" asp-action="Create">Add new role </a>
                                                                                                     
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="row">
                                    <div class="col-md-6">

                                
                                    @if (Model.Any())
                                    {
                                        foreach(var role in Model)
                                        {
                                            <div class="card md-3">
                                            <div class="card-header">
                                                Role Id : @role.Id
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title black">@role.Name</h5>
                                            </div>
                                            <div class="card-footer">
                                                <a class="btn btn-primary" asp-action="Edit" asp-controller="RoleManager" asp-route-id="@role.Id">Edit</a>
                                                 @Html.ActionLink("Delete Role", "Delete", new { id = role.Id },
                                                    htmlAttributes: new { @class = "btn btn-danger", @onclick="return DeleteConfirm()"})
                                            </div>
                                        </div>
                                        }

                                    }
                                    else
                                    {
                                        <div class="card">
                                            <div class="card-header">
                                                No Roles created yet
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title black">
                                                    Use the button below to create a role
                                                </h5>
                                                <a class="btn btn-primary" style="with:auto" asp-controller="RoleManager" asp-action="Create">
                                                    Create
                                                </a>
                                            </div>
                                        </div>
                                    }
                                    </div>

                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

